<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <include resource="logger/console/console-appender.xml"/>
    <include resource="logger/console/console-parameter-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="console-appender"/>
    </root>

    <logger name="com.ahmadda" level="DEBUG" />

    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
        <appender-ref ref="console-parameter-appender"/>
    </logger>
</configuration>
